@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables Globales */
:root {
  --primary: #ff7b5d;
  --nav-contact: #373737;
  --hero-icon: #b43e37;
  --bg-main: #fefefe;
}

/* Fonts globales */

body {
  background-color: var(--bg-main);
}

/* Remove outline on inputs, selects, etc */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* Changing ScrollBar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #b9b9b9;
}

::-webkit-scrollbar-thumb:hover {
  background: #757575;
}

/* ./perfil.jsx */
.profileDataContainer {
  display: flex;
  flex-direction: row;
}
